*{  
    background-color:rgb(200, 229, 236);
    border-radius: 20px;
}

body {
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins a todo el texto */
  }

.presentacion {
    background-image: url(fondo.jpg); /* Ruta de la imagen en la carpeta 'images' */
    background-size: cover; /* La imagen cubrirá todo el div
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border-radius: 20px;
    padding: 40px; /* Añade espacio interno alrededor del contenido */
    color: rgb(14, 27, 54); 
  }  
  
.presentacion h1 {
    text-align: center;
   
} 

h1:hover {
    color: rgb(221, 91, 215); /* Cambia el color del texto al pasar el cursor */
    font-size: 2.5em; /* Aumenta el tamaño del texto en hover */
    text-align: center;
    text-decoration: underline; /* Añade subrayado al pasar el cursor */
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out; /* Añadir transición suave */
   margin
}


.presentacion img {
    display: block;
  margin: 20px auto; /* Centra la imagen y añade margen */
  border: 10px solid rgb(41, 200, 240);
  border-radius: 25px;
  max-width: 100%; /* Se ajusta al tamaño del contenedor */
  height: auto;
}

.presentacion p{
    text-align: center;
}

 
h2 {
    color: rgb(231, 93, 201);
}  

h3{
    color: rgb(223, 10, 99);
}

h4{
    color: rgb(19, 197, 93);
}

h5{
    color: rgb(90, 5, 62);
}

h6{
    color: rgb(32, 182, 100);
}

